#notify .fa{
	color: #333333
}

#notify .fa.fa-times {
	z-index: 1;
	right: 12px;
	position: absolute;
	top: 6px;
	cursor: pointer;
}

#notify {
	display: block;
	position: fixed;
	z-index: 2;
	margin-top: 30px;
	transition: all .5s;
	right: 15px;
	height: 100px;
	width: 300px;
}

#notify .msg{
	padding: 13px 34px;
	color: #333333;
	font-weight: 500;
	line-height: 35px;
}

#notify .msg.success {
	background-color: #AFF29A;
}

#notify .msg.info {
	background-color: #7195FF;
}

#notify .msg.warning {
	background-color: #FFDD57;
}

#notify .msg.error {
	background-color: #FF5757;
}
